* {margin:0;padding:0;}

html {
    box-sizing: border-box; /*изменен алгоритм расчета размера блоко*/
    scroll-behavior: smooth; /*плавная прокрутка*/
}


body {
    background: #EDF2EC; /*цвет фона*/
    display: flex;
    justify-content: center;

}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3%;
    padding: 3%;
    max-width:100%;
    max-width: 100%;
    background: whitesmoke;
}
h1{
    font-size: 54px;
}

.acor-body {
    height: 0;
    color: rgba(0, 0, 0, 0);
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif; 
    font-size: 24px;
    text-align: center;
}
p{
    color: royalblue;
}

.acor-container label {
    cursor: pointer;
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: royalblue;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-family: Verdana, sans-serif;   
    font-size: 34px;
    margin: 0 0 5px;
    transition: color .55s;
    position: relative;
}

.acor-container {
    cursor: pointer;}

.acor-container label:hover {
    color: black;
    
    
}
.acor-container label:hover + label {
    color: #FFF;
     box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}
    
/*скрыть значки чек-бокса*/
.acor-container input{
    display: none;
}

.acor-container input:checked + label:before {
    content: '\276F';
    float: right;
}
/*появление указателя после наведения мыши*/
.acor-container:hover label:before {
    content: '\276F';
    float: right;
  }
acor-container:hover label{
    color:#337AB7;
}

.acor-container input:checked + label {
    color: black;

}
.acor-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}

/* раскрывается текст при нажатии на чек-бокс */
.acor-container input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
   
}


/*раскрывается при наведениимыши*/
.acor-container label:hover  + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
   
}

    @media screen and (max-width:820px){
        h1{
            font-size: 44px;
    }
    .acor-container label {
        
        font-size: 24px;
       
    }
}
   
    
    
    @media screen and (max-width: 320px){
        h1{
            font-size: 34px;
    }
    .acor-container label {
        cursor: none;   
        font-size: 14px;
       
    }
}

/*конец меню для мобилки */